<div class="card table-responsive m-4">
    <div class="card-header text-center">Actualizar pais</div>
    <div *ngIf="true" class="card-body">
        <form class="row">
            <div class="mb-3">
                <label for="formCountry-Update" class="mb-1">Nombre del pais</label>
                <input [(ngModel)]="name" type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                    id="formCountry-Update">
            </div>
            <div>
                <button (click)="updateCountry()" type="button" class="btn btn-success btn-lg">Actualizar pais</button>
            </div>
        </form>
    </div>
</div>